<!--<li class="active grey lighten-3 p-2">-->
<!--  <a href="#" class="d-flex justify-content-between">-->
<!--    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar"-->
<!--         class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">-->
<!--    <div class="text-small">-->
<!--      <strong>John Doe</strong>-->
<!--      <p class="last-message text-muted">Hello, Are you there?</p>-->
<!--    </div>-->
<!--    <div class="chat-footer">-->
<!--      <p class="text-smaller text-muted mb-0">Just now</p>-->
<!--      <span class="badge badge-danger float-right">1</span>-->
<!--    </div>-->
<!--  </a>-->
<!--</li>-->

<li (click)="getUserSelected(user)" class="p-2 text-primary">
  <a class="d-flex justify-content-between">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar"
         class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
    <div class="text-small">
      <strong>{{user.name}} {{user.firstname}}  </strong>
      <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
    </div>
    <div class="chat-footer">
      <p *ngIf="user.active" class="text-smaller text-muted mb-0">
        <i class="fas fa-circle text-success"></i> {{user.active}}
      </p>
      <p *ngIf="!user.active" class="text-smaller text-muted mb-0">
        <i class="fas fa-circle text-danger"></i> {{user.active}}
      </p>
      <!--      <span class="text-muted float-right"><i class="fas fa-check" aria-hidden="true"></i></span>-->
    </div>
  </a>
</li>

